
@{
    ViewData["Title"] = "Home Page";
}
@* @section date{
    <h3>@DateTime.Now.ToShortDateString()</h3>
} *@
<h1>Welcome to Asp.Net Core MVC app</h1>
<h3>@ViewData["Message"]</h3>
@Html.Partial("_DateTimePartial")
@* @section time{
    <h3>@DateTime.Now.ToLocalTime()</h3>
} *@