aside {
    text-align:center;
  }
  
  nav{
    font-size: 20px;
    background-color: lightseagreen;
    /* TRouBLe is the sequence for border, margin, padding */
  }
  nav a{
    padding-left: 20px;
    /* border: 0px, 1px, 0px, 1px solid black ; */
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  body{
    background-color:pink;
  }
/* this rule takes precedence over previous rule on <nav> */
  nav{
    font-size: 30px;
    background-color:limegreen;
  }
  /* psuedo classes  */
  a:visited{
    color:purple
  }
  a:hover{
    font-size: 50Px;
  }
  p::first-letter{
    font-size: 20px;
  }
  .Eng{
    color:green;
  }
  span{
    color:red !important;
    /* display:none; */
  }
 p{
   display: inline;
 }